<% @pomodoros.each do |pomodoro| %>
  <p><%= pomodoro.id %></p>
<% end %>


<div class="container">
<h1>Launch the Pomodoro!!!</h1>
  <%= simple_form_for Pomodoro.new do |f| %>
    <%= f.button :submit %>
  <% end %>
</div>